<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<false/>
	<key>className</key>
	<string>CCB_TableView</string>
	<key>editorClassName</key>
	<string>CCB_TableView</string>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>default</key>
			<array>
				<integer>100</integer>
				<integer>100</integer>
			</array>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>Content size</string>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCTableView</string>
			<key>name</key>
			<string>CCTableView</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>displayName</key>
			<string>Direction</string>
			<key>name</key>
			<string>direction</string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>extra</key>
			<string>Horizontal|0|Vertical|1</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>ItemSize</string>
			<key>name</key>
			<string>itemSize</string>
			<key>type</key>
			<string>Size</string>
			<key>default</key>
			<array>
				<string>100</string>
				<string>100</string>
				<string>0</string>
			</array>
		</dict>
		<dict>
			<key>displayName</key>
			<string>WrapCount</string>
			<key>name</key>
			<string>wrapCount</string>
			<key>type</key>
			<string>Integer</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>ItemTemplate</string>
			<key>name</key>
			<string>itemTemplate</string>
			<key>type</key>
			<string>CCBFilename</string>
		</dict>
	</array>
</dict>
</plist>
